:root{
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #e6f0f9;
    --tertiary-bg-color: #5c9ba0;
    --quarternary-bg-color: #4d9962;

    --primary-font-color: #040508;
    --secondary-font-color: #ffffff;
    --tertiary-font-color: #609c70;

    --title-weight: 700;
    --title-weight-light: 300;
    --text-weight: 400;
}

html, body{
    overflow: hidden;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}